In [1]:
import bamboolib as bam
df = bam.get_sales_df()
df

,region,country,item_type,sales_channel,order_prio,order_date,order_id,ship_date,units_sold,unit_price,unit_cost,total_revenue,total_cost,total_profit
0,Central America and the Caribbean,Grenada,Baby Food,Offline,C,8/9/2012,987416255,8/27/2012,7267,255.28,159.42,1855119.76,1158505.14,696614.62
1,Europe,Greece,Personal Care,Online,M,5/2/2010,574704110,5/18/2010,6572,81.73,56.67,537129.56,372435.24,164694.32
2,Europe,Luxembourg,Clothes,Online,C,12/24/2016,675741851,1/5/2017,5885,109.28,35.84,643112.80,210918.40,432194.40
3,Europe,Latvia,Meat,Offline,H,1/17/2014,284062087,2/3/2014,9139,421.89,364.69,3855652.71,3332901.91,522750.80
4,Europe,Czech Republic,Office Supplies,Online,M,1/30/2015,154060781,2/23/2015,8863,651.21,524.96,5771674.23,4652720.48,1118953.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Asia,Vietnam,Office Supplies,Offline,M,10/27/2012,717428100,12/12/2012,1772,651.21,524.96,1153944.12,930229.12,223715.00
996,Sub-Saharan Africa,Burkina Faso,Household,Online,L,6/9/2013,275932204,6/15/2013,3326,668.27,502.54,2222666.02,1671448.04,551217.98
997,Europe,Luxembourg,Clothes,Online,M,10/29/2014,458052909,11/11/2014,6890,109.28,35.84,752939.20,246937.60,506001.60
998,Central America and the Caribbean,Saint Kitts and Nevis,Meat,Offline,H,3/22/2017,676340949,5/9/2017,3171,421.89,364.69,1337813.19,1156431.99,181381.20
999,Central America and the Caribbean,Cuba,Snacks,Online,M,11/13/2014,450891196,11/26/2014,7580,152.58,97.44,1156556.40,738595.20,417961.20